<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="clearTxt" placeholder="Saisir le texte à hasher">
        <select name="hashFn">
            <option value="md5">md5</option>
            <option value="sha256">sha256</option>
        </select>
        <button>Hash me !</button>
    </form>
</body>
</html>